body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.list-group{
height: 600px;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

@media (max-width: 768px){
  .list-group{
  height: 300px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .list-group{
  height: 350px;
}
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .list-group{
  height: 400px;
}
}
@media (min-width: 1440px) {
  .list-group{
  height: 500px;
}
}